/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* HTML + BODY FULL HEIGHT */
html, body {
  width: 100%;
  height: 100%;
}


body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  /* -moz-osx-font-smoothing: grayscale; */
  /* background: linear-gradient(to bottom, #9b6b30, #1a1a1a); */
  /* overflow-y: hidden; */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.app-layout {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.content {
  flex: 1;   /* pushes footer to bottom */
}
/* ================== RESPONSIVE ================== */
@media (max-width: 768px) {
  .content {
    /* padding: 15px 20px; */
  }
}

@media (max-width: 480px) {
  .content {
    /* padding: 10px 15px; */
  }
}

/* CODE FONT */
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}