.contact-container {
  display: flex;
  gap: 80px;
  padding: 60px 80px;
  min-height: 100vh;
  background: #fff;
  padding: 80px; /* vertical and horizontal spacing */
  flex-wrap: wrap; /* allow stacking on small screens */
}

/* LEFT */
.contact-form {
  margin-top: 50px;
  flex: 1;
  justify-content: center; /* vertically center text in container */
}

.contact-form h1 {
  font-size: 48px;
  margin-bottom: 50px;
}

.contact-desc {
  color: #777;
  margin-bottom: 40px;
  line-height: 1.6;
}

.contact-form form {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.contact-form input {
  border: none;
  border-bottom: 1px solid #999;
  padding: 10px 0;
  font-size: 16px;
  outline: none;
}

.row {
  display: flex;
  gap: 30px;
}

.row input {
  flex: 1;
}

.contact-form button {
  margin-top: 30px;
  width: 200px;
  padding: 14px;
  background: black;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 16px;
}

/* RIGHT */
.contact-info {
  flex: 1;
}

.contact-info h3 {
  font-size: 20px;
  margin-bottom: 20px;
  margin-top: 100px;
}

.contact-info p {
  color: #555;
  margin-bottom: 15px;
}

.office {
  margin-bottom: 50px;
}

.map iframe {
  width: 100%;
  height: 300px;
  border: none;
  margin-top: 20px;
}

#submit-btn {
  margin-top: 30px;
  width: 200px;
  padding: 14px;
  background: rgb(3, 92, 20);
  color: white;
  border: none;
  cursor: pointer;
  font-size: 16px;
}

/* ================== TABLET ================== */
@media (max-width: 900px) {
  .contact-container {
    padding: 60px 40px;
    gap: 40px;
  }

  .contact-form h1 {
    font-size: 38px;
  }
}

/* ================== MOBILE ================== */
@media (max-width: 600px) {
  .contact-container {
    flex-direction: column;
    padding: 40px 20px;
  }

  .contact-form h1 {
    font-size: 32px;
  }

  .row {
    flex-direction: column;
    gap: 20px;
  }

  .contact-form button {
    width: 100%;
  }
}