.footer {
  background-color: #1a1a1a;
  color: white;
  padding: 20px 0px 0px 50px;
  /* position: absolute; */
  width: 100%;
  box-sizing: border-box; 
  max-width: 2000px;
}

.footer-container {
  display: flex;
  justify-content: space-around;
  /*flex-wrap: wrap; */
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
  max-width: 1200px; /* optional: limit very wide screens */
  margin: 0 auto; 
}

.footer-section h2,
.footer-section h3 {
  color: orange;
  margin-bottom: 15px;
}

.footer-section p,
.footer-section li {
  font-size: 14px;
  margin-bottom: 8px;
  color: #ccc;
}

.footer-section ul {
  list-style: none;
  padding: 0;
}

.footer-section li:hover {
  color: orange;
  cursor: pointer;
}

.social-icons span {
  font-size: 22px;
  margin-right: 10px;
  cursor: pointer;
}

.footer-bottom {
  display: flex;
  justify-content: space-between; /* left & right */
  align-items: center;
  margin-top: 30px;
  padding-top: 15px;
  padding: 20px 50px 20px 90px;
  border-top: 1px solid #333;
  color: #aaa;
  font-size: 13px;
}

/* Left side (Terms + Privacy) */
.footer-links {
  display: flex;
  gap: 20px;
}

.footer-links span {
  cursor: pointer;
}

.footer-links span:hover {
  color: orange;
}

/* Right side (Icons) */
.footer-social {
  display: flex;
  gap: 15px;
}

.footer-social svg {
  font-size: 20px;
  cursor: pointer;
  color: #ccc;
}

.footer-social svg:hover {
  color: orange;
}



.subscribe-box {
  display: flex;
  /* gap: 10px; */
}

.subscribe-box input {
  padding: 8px;
  border: none;
  border-radius: 4px;
  outline: none;
}

.subscribe-box button {
  padding: 8px 12px;
  background-color: orange;
  border: none;
  border-radius: 4px;
  color: black;
  cursor: pointer;
}

.subscribe-box button:hover {
  background-color: #ff9800;
}

.social-icons {
  display: flex;
  gap: 15px;
}

.social-icons svg {
  font-size: 22px;
  cursor: pointer;
  color: #ccc;
}

.social-icons svg:hover {
  color: orange;
}

/* ================== TABLET ================== */
@media (max-width: 900px) {
  .footer-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* ================== MOBILE ================== */
@media (max-width: 500px) {
  .footer {
    padding: 40px 20px 20px;
  }

  .footer-container {
    grid-template-columns: 1fr;
    text-align: center;
  }

  .subscribe-box {
    flex-direction: column;
  }

  .subscribe-box input,
  .subscribe-box button {
    width: 100%;
    border-radius: 4px;
  }

  .subscribe-box button {
    margin-top: 10px;
  }

  .footer-bottom {
    flex-direction: column;
    gap: 15px;
    text-align: center;
  }
}
