.home {
  display: flex;
  /* min-height: 100vh;  */
  background: linear-gradient(to bottom, #9b6b30, #1a1a1a);
  box-sizing: border-box;
  background-size: cover;
  
}

.home-text {
  flex: 1;
  padding: 80px;
}

.highlight {
  color: rgb(249, 137, 25);
  font-size: 135px;
}

.home-image {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.home-image img {
  width: 600px;
  border-radius: 20px;
}

.home-letter{
  font-size: 45px;
  color: rgb(96, 95, 95);
}
.paragraph{
  font-size: 25px;
  color: rgb(179, 177, 177);
}
