.menu-page {
  padding: 2rem;
  background: linear-gradient(to bottom, #fefcfc, #f9a238, #f9a238);
  min-height: 100vh;
  overflow-y: auto;   /* enables vertical scrolling */
}


.subtitle {
  color: gray;
  margin-bottom: 1rem;
}

.menu-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  gap: 1.5rem;
}

.menu-card {
  background: white;
  border-radius: 12px;
  padding: 1rem;
  position: relative;
  box-shadow: 0px 2px 10px rgba(0,0,0,0.1);
  text-align: center;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}


.discount-badge {
  position: absolute;
  top: 10px;
  left: 10px;
  background: #ff7f7f;
  color: white;
  padding: 0.3rem 0.6rem;
  border-radius: 8px;
  font-size: 0.8rem;
}
.food-img {
  width: 100%;
  height: 180px;         /* fixed height for all images */
  object-fit: cover;    /* crop image nicely */
  border-radius: 12px;
}
.price {
  font-weight: bold;
  margin: 0.5rem 0;
}

.old-price {
  text-decoration: line-through;
  color: gray;
  margin-right: 0.5rem;
}

.discounted-price {
  color: #ff7f2a;
}

.cart-actions {
  margin-top: 0.5rem;
}

.add-btn {
  background: #28a745;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 8px;
  cursor: pointer;
}

.quantity-control {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.quantity-control button {
  background: #28a745;
  color: white;
  border: none;
  padding: 0.3rem 0.6rem;
  border-radius: 5px;
  cursor: pointer;
}
.order-summary {
  margin-top: 40px;
  padding: 20px;
  background: #111;
  color: white;
  border-radius: 12px;
}

.place-order-btn {
  margin-top: 15px;
  padding: 10px 20px;
  background: orange;
  border: none;
  color: black;
  font-weight: bold;
  border-radius: 6px;
  cursor: pointer;
}

