.navbar {
  position: sticky;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 10px 10px 40px;
  background: transparent;
  position: absolute;
  width: 100%;
  top: 0;
  z-index: 1000;
}

.logo a {
  font-size: 33px;
  font-weight: 648;
  color: rgb(9, 7, 7);
  text-decoration: none;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 55px;
}

.nav-links a {
  text-decoration: none;
  color: rgb(9, 7, 7);
  font-weight: 400;
  font-size: 28px;
}

.nav-links a:hover {
  color: orange;
}

/* Hamburger icon hidden in desktop */
.hamburger {
  display: none;
  font-size: 20px;
  cursor: pointer;
}

/* Search bar container */
.search-container {
  display: flex;
  align-items: center;
  background: rgba(255, 255, 255, 0.25);
  border-radius: 30px;
  padding: 8px 14px;
  width: 260px;
  margin-right: 100px;
}

/* Search icon */
.search-icon {
  color: #ddd;
  font-size: 16px;
  margin-right: 2px;
}

/* Search input */
.search-container input {
  border: none;
  background: transparent;
  outline: none;
  color: rgb(7, 7, 7);
  flex: 1;
  font-size: 15px;
}

.auth-section {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-left: 15px;
}




.login-btn {
  display: flex;
  align-items: center;
  gap: 6px;
  padding: 8px 14px;
  background: orange;
  color: black;
  border-radius: 20px;
  text-decoration: none;
  font-weight: bold;
  transition: 0.3s;
}

.login-btn:hover {
  background: #ff9f1a;
}

.logout-btn {
  padding: 8px 14px;
  background: #ff4d4d;
  color: white;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  font-weight: bold;
  transition: 0.3s;
}

.logout-btn:hover {
  background: #e60000;
}

.username {
  color: rgb(17, 16, 16);
  font-weight: bold;
}

/* ========== MOBILE VIEW ========== */
@media (max-width: 768px) {
  .hamburger {
    display: block; /* show hamburger */
  }

  .nav-links {
    position: absolute;
    top: 60px;
    left: 0;
    background: linear-gradient(to bottom, #9b6b30,#9b6b30);
    width: 100%;
    flex-direction: column;
    align-items: center;
    display: none;
    padding: 30px 0 0 0px;
  }

  .nav-links.active {
    display: flex;
  }

  .search-container {
    display: none;
  }
}

