.food-container {
  display: flex;
  padding: 40px;
  gap: 50px;
  min-height: 100vh;
  background: linear-gradient(to bottom, #fff7e6, #ffb347);
  font-family: Arial, sans-serif;
}

/* LEFT */
.image-section {
  padding-left: 90px;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.image-section h1 {
  font-size: 36px;
  margin-bottom: 5px;
}

.subtitle {
  color: #777;
  margin-bottom: 20px;
}

.image-box {
  position: relative;
  background: transparent;
  padding: 20px;
  border-radius: 10px;
}

.image-box img {
  width: 100%;
  border-radius: 10px;
}

/* ARROWS */
.arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(0, 0, 0, 0.6);
  color: white;
  border: none;
  font-size: 26px;
  padding: 10px 14px;
  cursor: pointer;
  border-radius: 50%;
}

.arrow.left {
  left: 10px;
}

.arrow.right {
  right: 10px;
}

/* THUMBNAILS */
.thumbnail-row {
  display: flex;
  gap: 10px;
  margin-top: 15px;
}

.thumbnail-row img {
  width: 80px;
  border-radius: 10px;
  cursor: pointer;
  opacity: 0.6;
  border: 2px solid transparent;
}

.thumbnail-row img.active-thumb {
  opacity: 1;
  border: 2px solid #ffa500;
}

/* RIGHT */
.details-section {
  flex: 1;
}

.details-section h2 {
  font-size: 34px;
}

.price {
  color: #ffa500;
  font-size: 32px;
}

.rating {
  margin: 15px 0;
  font-size: 18px;
}

.rating span {
  margin-left: 10px;
  font-size: 14px;
}

.quantity-box {
  display: flex;
  gap: 10px;
  margin: 15px 0;
}

.quantity-box button {
  padding: 10px 15px;
  border: 1px solid #ccc;
  background: white;
  cursor: pointer;
  border-radius: 5px;
}

.quantity-box button.active {
  border: 2px solid #000;
}

.action-buttons {
  display: flex;
  gap: 20px;
  margin-top: 40px;
}

.action-buttons button {
  flex: 1;
  padding: 20px;
  font-size: 24px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
}

.wishlist {
  background: #ffd6d6;
}

.cart {
  background: #ffb347;
}
